html, body {margin: 0;}

h1 {
  font-family: Arial, sans-serif;
  font-size: 72px;
  color: #ffffff;
  font-style: normal;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 42px;
  color: #dddddd;
  font-style: normal;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #dddddd;
  font-style: italic;
}

p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-style: normal;
}

/*#element {text-align: center;}*/

.button {
  background-color: #222222;
  border: none;
  color: #dddddd;
  /*width: 352.2px;*/
  width: 176px;
  height: 60px; /*80*/
  text-align: center;
  font-size: 18px; /*24*/
  font-weight: bold;
  margin: 0px 4px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.button2 {background-color: darkgreen; color: #ffffff; cursor: default;}

.menu-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 8px;
  transition-duration: 1s;
}

.button:hover {
  background-color: darkgreen;
  color: #ffffff;
}

.button2:hover {
  background-color: darkgreen;
  color: #ffffff;
}

.color-container {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  margin-bottom: 4px;
  transition-duration: 1s;
}

.color-item {
  /*width: 65.4px;*/
  width: 45.66px;
  height: 45.66px;
  margin: 0px 4px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.color-item:hover {transform: translateY(-5px);}

img {border-radius: 20px;}

.trio-container {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 20px;
    width: fit-content
}

.trio-item {
    background-color: #222222;
    border: 15px solid darkgreen;
    padding: 40px;
    margin: 10px;
    text-align: center;
}

.footer-container {
  background-color: darkgreen;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}