h1 {color: #dddddd;}

h2 {color: #dddddd;}

#element {text-align: center;}

.button {
  background-color: #222222;
  border: none;
  color: #dddddd;
  padding: 12px 66.9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {padding: 18px 136px; font-size: 17.5px;}

img {
  border-radius: 12px;
}
