html, body {margin: 0;}

h1 {
  font-family: Arial, sans-serif;
  font-size: 72px;
  color: #ffffff;
  font-style: normal;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 42px;
  color: #dddddd;
  font-style: normal;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #dddddd;
  font-style: italic;
}

p {
  font-family: Arial, sans-serif;
  font-size: 20x;
  color: #ffffff;
  font-style: normal;
}

#element {text-align: center;}

.button {
  background-color: #222222;
  border: none;
  color: #dddddd;
  padding: 12px 66.9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #222222; padding: 18px 136px; font-size: 17.5px;}
.button3 {background-color: #006400; padding: 18px 136px; font-size: 17.5px; cursor: default;}

img {border-radius: 20px;}

.grid-container {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 20px;
    width: fit-content
}

.grid-item {
    background-color: #222222;
    border: 15px solid green;
    padding: 40px;
    margin: 10px;
    text-align: center;
}
